<div id="desktopprintissues">
    <a href="https://montag.bigcartel.com/product/montag-issue-1-together-tomorrow" alt="Buy Issue 1">
      <img class="MONTAGcover" src={{asset "assets/images/MONTAGIssue1cover.jpg"}}>
    </a>
    <a href="https://montag.bigcartel.com/product/montag-issue-2-better-bodies" alt="Buy Issue 2">
      <img class="MONTAGcover" src={{asset "assets/images/MONTAGIssue2cover.jpg"}}>
    </a>
    <a href="https://montag.bigcartel.com/product/montag-issue-3-coding-creativity" alt="Buy Issue 3">
      <img class="MONTAGcover" src={{asset "assets/images/MONTAGIssue3cover.jpg"}}>
    </a>
</div>
