<div id="desktop-logobar">
  <div id="desktop-logo-container">
    <a href="{{@site.url}}" alt="montag.wtf">
      <img class="desktop-logobar-logo" src={{asset "assets/images/blackmontag.png"}}>
    </a>
  </div>
  <div id="desktop-logotext-container">
    <span class="desktop-logotext">A magazine of tomorrow's stories, powered by <a href="https://www.grover.com">Grover</a></span>
  </div>
</div>
<div id="hamburger-container">
  <div id="hamburger-menu">
    <a href="#">
      <img id="hamburger" src={{asset "assets/images/blackhamburger.png"}}>
    </a>
  </div>
</div>
