<a href="" id="openmodal">
  <div id="questionmark-container">
    <span class="questionmark">?</span>
  </div>
</a>
<div id="desktop-logobar">
  <div id="desktop-logo-container">
    <a class="logolinktext" href="{{@site.url}}" alt="montag.xyz">
      <span class="montagxyz">MONTAG.XYZ</span>
    </a>
  </div>
  <div id="desktop-logotext-container">
    <div class="desktop-logotext">A magazine of tomorrow's stories, written by AI</div>
  </div>
</div>
