<!-- logo bar for desktop, contains MONTAG & Grover logos -->
<div id="mobile-logobar">
  <div class="logobar-montag-logo">
    <a href="{{@site.url}}" alt="montag.wtf">
      <img class="logobar-logo" src={{asset "assets/images/blackmontag.png"}}>
    </a>
  </div>
</div>
