<!-- MONTAG logo and Grover logo stuck to top of page -->
<div id="sticky-logobar">
  <a href="" id="#abouttext">
    <div id="questionmark-container">
      <span class="questionmark">?</span>
    </div>
  </a>
  <div id="sticky-montag-logo">
    <a class="logolinktext" href="{{@site.url}}" alt="montag.xyz">
      <span class="stickymontagxyz">MONTAG.XYZ</span>
    </a>
  </div>
</div>
