<!-- MONTAG logo and Grover logo stuck to top of page -->
<div id="sticky-logobar">
  <div id="sticky-montag-logo">
    <a href="{{@site.url}}" alt="montag.wtf">
      <img class="montaglogo" src={{asset "assets/images/blackmontag.png"}}>
    </a>
  </div>
  <div id="sticky-grover-logo">
    <a href="https://www.grover.com/" alt="grover.com">
      <img class="groverlogo" src={{asset "assets/images/blackgroverlogo.png"}}>
    </a>
  </div>
</div>
