{{!< default}}
{{> stickylogos}}
{{> modal}}
<div id="error-page">
			<img src="{{ asset "images/404capy.gif"}}" alt="It seems we can't find what you're looking for"/>
      <div class="error-page-text">It seems we can't find the page you're looking for</div>
</div>
